<div class="tech-web">
    <div class="edge-canvas">
      <svg [attr.height.px]="g.graph().height" [attr.width.px]="g.graph().width">
        <path *ngFor="let e of edges" [attr.d]="strokeEdge(e)"
          [attr.stroke]="edgeColor(e)" stroke-width="2" fill="none"/>
      </svg>
    </div>
    <div class="tech-nodes">
      <div class="tech-node" *ngFor="let n of nodes" [ngStyle]="layoutNode(n)"
        [class.rare]="n.tech.is_rare" [ngClass]="store.getAreaClass(n.tech)">
        <div class="icon">
          <img src="assets/img/icons/{{ n.tech.id }}.png" height="39px" width="39px">
        </div>
        <div class="body">
          <p>{{ n.tech.name }}</p>
          <small class="text-muted">{{ n.tech.category }} ({{ tierString(n.tech) }})</small>
        </div>
      </div>
    </div>
</div>
