<div #viewport class="tech-web-scrollable" (scroll)="onScroll($event)">
  <div class="tech-web-canvas" *ngIf="g; else loading">
    <div class="edge-canvas" >
      <svg [attr.height.px]="g.height" [attr.width.px]="g.width">
        <defs>
          <marker id="arrow" markerWidth="12" markerHeight="12" refX="4.4" refY="6" orient="auto" markerUnits="strokeWidth">
            <path d="M0,3 L4,6 L0,9" fill="none" stroke="black" stroke-width="1" stroke-linecap="round" />
          </marker>
        </defs>
        <path class="edge" *ngFor="let e of edges" [attr.d]="strokeEdge(e)"
          [attr.stroke]="edgeColor(e)" stroke-width="2" fill="none" marker-end="url(#arrow)" />
      </svg>
    </div>
    <div class="tech-nodes">
      <div class="tech-node" *ngFor="let n of nodes" [ngStyle]="layoutNode(n)"
        [class.rare]="n.tech.is_rare" [ngClass]="store.getAreaClass(n.tech)">
        <div class="icon">
          <img src="assets/img/icons/{{ n.tech.id }}.png" height="29px" width="29px">
        </div>
        <div class="body">
          <p>{{ n.tech.name }}</p>
          <small class="text-muted">{{ n.tech.category }} ({{ tierString(n.tech) }})</small>
        </div>
      </div>
    </div>
  </div>
  <ng-template #loading>
    <div class="loading">
      <i class="fas fa-spinner fa-spin"></i>
      <h5 class="mt-3">Building Web</h5>
    </div>
  </ng-template>
</div>


<div class="tech-web-minimap" *ngIf="g">
  <div class="tech-web-canvas" [ngStyle]="minimapStyle()">
    <div class="edge-canvas">
      <svg [attr.height.px]="g.height" [attr.width.px]="g.width">
        <path *ngFor="let e of edges" [attr.d]="strokeEdge(e)"
          stroke="rgba(0,0,0,.5)" stroke-width="2" fill="none"  />
      </svg>
    </div>
    <div class="tech-nodes">
      <div class="tech-node" *ngFor="let n of nodes" [ngStyle]="layoutNode(n)"
        [class.rare]="n.tech.is_rare" [ngClass]="store.getAreaClass(n.tech)">
        <div class="icon">
        </div>
        <div class="body">
        </div>
      </div>
    </div>
  </div>
  <div class="minimap-vp" [ngStyle]="minimapViewportStyle()"></div>
</div>
