@import "variables";

$node-shadow: 0px 0px 55px -12px;

$node-icon-size: 42px;
$node-height: 70px;
$node-width: 250px;

.tech-web-scrollable {
  max-height:  #{"calc(100vh - " + $nav-height + ")"};
  max-width:  100%;
  overflow: auto;
  position: relative;
  user-select: none;
  .tech-web-canvas {
    position: relative;

    svg {
      background-color: #ffffff;
      background-image: url("https://www.transparenttextures.com/patterns/graphy.png");
      filter: drop-shadow( 0px 1px 1.5px  #000 );
    }
  }

  .loading {
    min-height: #{"calc(100vh - " + $nav-height + ")"};
    min-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: gray;
    font-size: 40px;
    background-color: #ffffff;
    background-image: url("https://www.transparenttextures.com/patterns/graphy.png");

    h5 {
      color: black;
      font-size: 15px;
      text-transform: uppercase;
    }
  }
}

.edge-canvas {
  z-index: -1;
}

.tech-nodes {
  z-index: 1;
  .tech-node {
    position: absolute;
    height: $node-height;
    width: $node-width;
    //border: 2px solid rgb(100,100,100);
    box-shadow: $node-shadow rgba(0,0,0,1);
    display: flex;
    background-color: white;
    border-radius: 16px;
    .icon {
      width: $node-height;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        border-radius: 5px;
        box-shadow: 0px 0px 2px 0px rgba(0,0,0,1);
        height: $node-icon-size;
        width: $node-icon-size;
      }
    }

    .body {
      width: $node-width - $node-height;
      padding: 14px 7px 7px 0;
      vertical-align: top;
      display: flex;
      flex-direction: column;

      p {
        font-size: 12px;
        line-height: 15px;
        font-weight: bold;
        margin-bottom: 0px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        flex-shrink: 0;
        color: black;
      }
      small {
        font-size: 10px;
        margin-bottom: auto;
        color: white;
      }
    }

    &:before {
      content: '';
      position: absolute;
      border-radius: 16px;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      box-shadow: inset 0 0 15px #000000;
    }

    &.tech-eng {
     // border-color: $color_eng;
      background-color: $color_eng;
      //box-shadow: $node-shadow $color_eng;
      &:before {
        box-shadow: inset 0 0 50px darken($color_eng, 20%);
      }
    }
    &.tech-phys {
    //  border-color: $color_phys;
      background-color: $color_phys;
      &:before {
        box-shadow: inset 0 0 50px darken($color_phys, 20%);
      }
      //box-shadow: $node-shadow $color_phys;
    }
    &.tech-soc {
    //  border-color: $color_soc;
      background-color: $color_soc;
      &:before {
        box-shadow: inset 0 0 50px darken($color_soc, 20%);
      }
      //box-shadow: $node-shadow $color_soc;
    }
  }
}

.minimap-holder {
  position: fixed;
  right: 30px;
  bottom: 30px;
  display: flex;
  flex-direction: column;
  z-index: 1000;
  display: none;
  user-select: none;


  @media (min-width: 768px) {
    display: block;
  }

  .tech-web-minimap {
    position: relative;
    height: 254px;
    width: 254px;
    overflow: hidden;
    //padding: 20px;
    border: 1px solid gray;
    box-shadow: 0px 0px 8px 0px rgba(0,0,0,1);
    background-color: whitesmoke;
    background-image: url("https://www.transparenttextures.com/patterns/p6.png");

    .tech-web-canvas {
      min-height: 100%;
      min-width: 100%;
      position: relative;

      .tech-node-small {
        position: absolute;
        height: $node-height;
        width: $node-width;
        &.tech-eng {
          background-color: $color_eng;
        }
        &.tech-phys {
          background-color: $color_phys;
        }
        &.tech-soc {
          background-color: $color_soc;
        }
      }
    }

    .minimap-vp {
      border: 2px solid red;
      position: absolute;
    }

    .mouse-capture {
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      position: absolute;
    }
  }

  .controls {
    .web-ctrl {
      height: 32px;
      width: 32px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      box-shadow: 0px 0px 4px 0px rgba(0,0,0,1);
      cursor: pointer;
      transition: all .4s ease;
      background-color: #343a40;

      &:hover {
        background-color: darken(#343a40, 10%);
      }
      &:focus, &:active {
        background-color: lighten(#343a40, 10%);
        box-shadow: 0px 0px 4px 0px rgba(0,0,0,.75);
      }

      &.disabled {
        opacity: .5;
      }

      &.filter-eng {
        background-color: $color_eng;
        &:hover {
          background-color: darken($color_eng, 10%);
        }
        &:focus, &:active {
          background-color: lighten($color_eng, 10%);
        }
      }

      &.filter-phys {
        background-color: $color_phys;
        &:hover {
          background-color: darken($color_phys, 10%);
        }
        &:focus, &:active {
          background-color: lighten($color_phys, 10%);
        }
      }

      &.filter-soc {
        background-color: $color_soc;
        &:hover {
          background-color: darken($color_soc, 10%);
        }
        &:focus, &:active {
          background-color: lighten($color_soc, 10%);
        }
      }
    }
  }
}
