@import "variables";

.tech {
  height: 400px;
  width: 18rem;
  border: 2px solid transparent;
  border-radius: 16px;
  .title {
    &.rare {
      color: $color_rare;
    }
  }

  &.tech-eng {
    border-color: $color_eng;
  }
  &.tech-phys {
    border-color: $color_phys;
  }
  &.tech-soc {
    border-color: $color_soc;
  }
}
